div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #39cf84;
    padding: 15px;
    text-align: justify;
}


header .jumbotron{
    background: url("../images/paw_backg.jpg") center center no-repeat;
    background-size: cover ;
}
header .jumbotron h1{
    font-weight: bolder;
    font-style: italic;
    font-size: 3cm;
    color: rgb(80, 136, 161);
};

table {
    border-collapse: collapse;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
}
th {
    color: #1E459E;
    background-color: #B9C9FE;
    border-top: 5px solid #AABCFE;
}
td {
    color: #7274A5;
    background-color: #D0DAFD;
    border-top: 3px solid #FFFFFF;
}

body.Body {
    background: rgb(71, 185, 238);

}

input[type="text"].long {
    width: 98%;
    max-width: 455px;
}
input[type="text"].short, select, textarea {
    width: 320px;
}

input[type="text"], select, textarea {
    display: block;
    border-top: inset;
}
div.container{
    margin-top:30px;
    margin-bottom :30px;
}
